.footer {
  html.contrast-mode & {
    background: $contrastBackground;
    color: $contrastColor;
  }
  &-columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 3rem;
  }
}
