.languages {
  position: relative;
  background-color: transparent;
  border: 0;
  color: black;
  padding: 0;
  cursor: pointer;
  z-index: $languagesIndex;
  @include extra-large {
    color: white;
  }
  &__title {
    margin-bottom: 0;
    font-size: 1.4rem;
    margin-left: 1.5rem;
  }
  &-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.2rem;
    left: 0;
    width: 100%;
    background-color: $primaryColor;
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    &.active {
      max-height: 35rem;
      opacity: 1;
      visibility: visible;
      overflow: visible;
    }
    .glink {
      display: inline-block;
      color: white;
      border-bottom: 0.1rem solid rgba(white, 0.2);
      padding: 0.7rem;
      font-size: 1.4rem;
    }
  }
  .active-language {
    margin-left: 0.8rem;
    font-weight: bold;
    position: relative;
    &::after {
      display: inline-block;
      content: "";
      width: 1rem;
      height: 1rem;
      //   background-image: url(../images/left-arrow.svg);
      transform: rotate(-90deg);
      margin-left: 0.7rem;
    }
  }
}
