.site-error {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1rem solid #f8f8f8;
  border-bottom: 1rem solid #f8f8f8;
  padding: 3rem 0;
  text-align: center;

  #go-search {
    text-decoration: underline;
    cursor: pointer;;
  }
}