.container-news {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 41rem;
  gap: 0 2rem;

  @media screen and (max-width: 992px) {
    display: block;
  }

  .archive-posts {
    .page-section-heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 3rem;

      &__title {
        text-transform: uppercase;
        font-size: 2.4rem;
        letter-spacing: 0.3rem;
      }

      &__meta {
        .page-section-heading__terms {
          display: flex;
          font-size: 1.4rem;

          @media screen and (max-width: 500px) {
            display: block;
          }

          span {
            display: inline-block;
            margin-right: 1rem;

            @media screen and (max-width: 500px) {
              margin-left: 1rem;
            }
          }

          .custom-terms {
            display: flex;
            flex-wrap: wrap;
            @media screen and (max-width: 500px) {
              display: block;
            }
            &__item {
              .custom-terms__anchor {
                padding: 0.3rem 1rem;
                transition: all 0.3s;
                text-decoration: none;
                color: #000;

                &:hover {
                  background-color: $primaryColor;
                  color: #fff;
                }
              }
            }
          }
        }
      }
    }

    .post {
      min-height: 20rem;
      display: grid;
      grid-template-columns: 21rem 1fr;
      grid-template-rows: auto;
      gap: 0 3rem;
      margin-bottom: 3rem;
      box-shadow: 0px 0.3rem 0.7rem 0px rgba(40, 40, 40, 0.1);

      @media screen and (max-width: 768px) {
        grid-template-columns: 12rem 1fr;
        gap: 0 1rem;
      }

      figure {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        max-height: 20rem;

        @media screen and (max-width: 500px) {
          max-height: 12rem;
        }

        img {
          max-width: initial;
          height: initial;
        }
      }

      .post-bulk {
        padding-right: 1rem;

        .post-heading {
          .post-heading-meta {
            .post-date {
              font-size: 1.2rem;
              svg {
                color: $secondaryColor;
              }
            }
          }

          &__title a {
            font-size: 1.8rem;
            text-decoration: none;
            color: #000;
            text-transform: uppercase;
            font-weight: 400;

            .contrast-mode & {
              color: $contrastColor;
            }

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .post-content {
          &__excerpt {
            font-size: 1.2rem;
            line-height: 2rem;
            max-height: 6rem;
            overflow: hidden;
          }
        }

        .post-footer {
          margin-top: 3rem;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media screen and (max-width: 768px) {
            margin-top: 0.5rem;
          }

          &__categories {
            font-size: 1.2rem;
            .post-footer__category {
              text-decoration: none;
              margin: 0 5px;
              color: #000;

              .contrast-mode & {
                color: $contrastColor;
              }

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &__button {
            padding: 0.3rem 2rem;
            background-color: $secondaryColor;
            color: #000;
            text-decoration: none;
            transition: all 0.3s;
            font-size: 1.2rem;
            font-weight: 700;

            &:hover {
              background-color: lighten($secondaryColor, 5%);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.archive-sidebar {
  h2 {
    text-transform: uppercase;
    font-size: 2.4rem;
    letter-spacing: 0.3rem;
    margin-bottom: 3rem;
  }

  .posts-loop {
    .post {
      display: grid;
      grid-template-columns: 18rem 1fr;
      grid-template-rows: auto;
      gap: 0 1.5rem;
      position: relative;
      margin-bottom: 3rem;
      box-shadow: 0px 0.3rem 0.7rem 0px rgba(40, 40, 40, 0.1);
      min-height: 18rem;

      @include small {
        display: block;
      }

      .post-others-left {
        &__category {
          position: absolute;
          overflow: hidden;
          top: 0;
          left: 0;
          background: $primaryColor;
          color: white;

          a {
            text-decoration: none;
            color: #fff;
            padding: 0.7rem 1rem;
            font-size: 1.2rem;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        figure {
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          min-height: 18rem;

          @media screen and (max-width: 500px) {
            max-height: 12rem;
          }

          img {
            max-width: initial;
            height: initial;
          }
        }
      }

      .post-bulk {
        padding: 1rem;
        .post-heading {
          .post-heading-meta {
            font-size: 1.2rem;
            margin: 1rem 0;

            svg {
              color: $secondaryColor;
            }
          }

          &__title {
            font-size: 1.4rem;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1rem;

            a {
              text-decoration: none;
              color: #000;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }

        .post-content {
          margin-bottom: 1rem;
          &__excerpt {
            font-size: 1.2rem;
            line-height: 2rem;
            max-height: 6rem;
            overflow: hidden;
          }
        }

        .post-footer {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          margin-right: 1rem;

          &__button {
            padding: 0.3rem 2rem;
            background-color: $secondaryColor;
            color: #000;
            text-decoration: none;
            transition: all 0.3s;
            font-size: 1.2rem;
            font-weight: 700;

            &:hover {
              background-color: lighten($secondaryColor, 5%);
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}
