// Other modules
@import "./loops/loop-news";
@import "./loops/loop-events";
@import "./loops/loop-page-childs";
@import "./loops/loop-attractions";
@import "./loops/loop-act-locally";
@import "./loops/loop-galleries";

.post-thumbnail-wrapper {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
  }
}
