// Other modules
@import "./modules/_module-messages";
@import "./modules/_module-social-media";
@import "./modules/_module-weather";
@import "./modules/_module-air";
@import "./modules/_module-calendar";
@import "./modules/_module-searchform";
@import "./modules/_module-levels-menu";
@import "./modules/_module-breadcrumbs";
@import "./modules/_module-pagination";
@import "./modules/_module-most-searched";
@import "./modules/_module-links-under-slider";
@import "./modules/_module-three-favorite";
@import "./modules/_module-contact-informations";
@import "./modules/_module-mega-menu";
@import "./modules/_module-contact-form";
@import "./modules/_module-google-map";
@import "./modules/_module-five-favorite";
@import "./modules/_module-attachments";
@import "./modules/_module-objects";
@import "./modules/_module-paths";
@import "./modules/_module-six-favorite";
@import "./modules/_module-poll";

// Sliders
@import "./modules/sliders/slider-hero";
@import "./modules/sliders/slider-icon-links";
@import "./modules/sliders/slider-image-links";
