.pages__children {
  padding: 3rem 0;

  .children__title {
    //background-image: url('../../images/pages_section.png');
    color: #fff;
    padding: 3rem 0;

    span {
      color: #fff;
      padding: 1.5rem;
      background-color: $primaryColor;
      opacity: 0.8;
      text-transform: none;
      font-size: 2.4rem;
    }
  }

  .child-page-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem 2rem;

    @media screen and (max-width: 899px) {
      grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 500px) {
      display: block;
    }

    .child-page {
      position: relative;
      overflow: hidden;
      border: 0.2rem solid $primaryColor;
      transition: all 0.4s;

      &:hover {
        box-shadow: 0 0.8rem 0.4rem -0.4rem $primaryColor;
      }

      @media screen and (max-width: 500px) {
        margin-bottom: 2rem;
      }

      &-thumb {
        height: 23rem;
        display: flex;
        align-items: center;
        position: relative;
        opacity: 1;
        transition: all 0.4s;

        &:hover {
          box-shadow: 0 0.8rem 0.4rem -0.4rem $primaryColor;

          .child-page-title {
            transform: translateY(-1rem);
            visibility: visible;
            opacity: 1;
            max-height: 9.5rem;
            max-width: 25rem;
            max-height: 12.4rem;
            overflow: hidden;

            .child-page-title-main {
              &:hover {
                text-decoration: underline;
              }
            }
          }

          .child-page-excerpt-main {
            visibility: visible;
          }
        }

        .child-page-title {
          position: absolute;
          top: 50%;
          left: 2rem;
          transition: all 0.5s;
          padding: 0.5rem;
          max-height: 12.4rem;
          overflow: hidden;

          .child-page-title-main {
            font-size: 1.5rem;
            background-color: $primaryColor;
            opacity: 0.8;
            padding: 0.5rem;
            color: #fff;
          }

          .child-page-excerpt-main {
            color: #fff;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 0.5rem;
            font-size: 1.2rem;
            max-height: 7.6rem;
          }

          a {
            color: #fff;
            text-decoration: none;
            transition: all 0.3s;
          }
        }

        figure {
          margin: 0;
          height: 23rem;
          display: flex;
          align-items: center;
          justify-content: center;

          img {
            max-width: initial;
            height: initial;
          }
        }
      }
    }

    .pages__thumb {
      width: 27rem;
      height: 23rem;
      overflow: hidden;
      margin: 0;
      display: flex;
      align-items: center;
      position: relative;
      opacity: 1;

      img {
        height: 100%;

        :hover .title__img {
          display: block;
          transform: translateY(10rem);
        }
      }

      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: 0.5s ease;
        background-color: rgba(0, 0, 0, 0.7);

        .page__in__section {
          position: absolute;

          padding: 1rem;
          top: 45%;
          left: 0;
          letter-spacing: 0.3rem;

          a {
            color: #fff;
            background-color: $primaryColor;
            text-decoration: none;
            padding: 0.5rem;

            &:hover {
              background-color: darken($primaryColor, 10%);
            }
          }
        }

        figure:hover .page__in__section {
          opacity: 1;
        }
      }
    }

    .title__img {
      position: absolute;
      bottom: -10rem;
      left: 0;
      color: red;
      display: none;
      transition: all 0.4s;
    }
  }
}

body.page:not(.home) {
  ul:not(.menu):not(.levels-menu-list):not(.children) {
    list-style: disc;
    margin-left: 1.5rem;
    li {
      margin-bottom: 1rem;
    }
  }
  ol:not(.menu):not(.levels-menu-list):not(.children) {
    list-style: decimal;
    margin-left: 1.5rem;
    li {
      margin-bottom: 1rem;
    }
  }
}
