.contact-page {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    @include extra-large {
      grid-template-columns: 1fr;
    }
  }

  .contact-informations {
    background: white;
    padding: 0;
    margin-top: 3rem;
    &__row {
      position: relative;
      padding-left: 5rem;
      padding-bottom: 3rem;
      margin-bottom: 3rem;
      border-bottom: 0.2rem solid #f3f3f3;
      &:last-child {
        border-bottom: 0;
      }
      i,
      svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: #00a0e3;
        color: #00a0e3;
        font-size: 3rem;
      }
    }
    &__subtitle {
      text-transform: none;
    }
    &__data {
      color: #5c6f70;
    }
  }

  .map {
    margin-top: 5rem;
  }
}
