.skin-changer-form {
  display: flex;
  align-items: center;
}
.skin-changer-form__row {
  padding: 20px 0;
}
.skin-changer-form__label,
.skin-changer-toggle {
  padding: 15px 25px;
  cursor: pointer;
  border: 0;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}
.skin-changer-form input[type="radio"] {
  display: none;
}
.skin-changer-form__row {
  margin: 10px;
}
.skin-changer-toggle {
  background-color: #006caa;
  margin-bottom: 15px;
}
.skin-changer-form__label[for="default-page"] {
  background-color: SteelBlue;
}
.skin-changer-form__label[for="christmas-page"] {
  background-color: red;
}
.skin-changer-form__label[for="easter-page"] {
  background-color: green;
}
.skin-changer-form__label[for="mourning-page"] {
  background-color: grey;
}
.skin-changer-form {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
.skin-changer-form.active {
  max-height: 600px;
}
.skin-changer-form__input:checked + .skin-changer-form__label {
  outline: 2px dashed red;
  outline-offset: 5px;
}
