.sputnik-search-form {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: $searchFormIndex;
  &__toggle {
    span {
      @extend .screen-reader-text;
    }
  }

  &.hidden {
    display: none !important;
  }
  &--active,
  &.active {
    display: block !important;
  }
}
