.btn {
  &--primary {
    html.contrast-mode & {
      background: $contrastColor;
      color: $contrastBackground;
    }
  }
  &--secondary {
    html.contrast-mode & {
      background: $contrastColor;
      color: $contrastBackground;
    }
  }
  &--outline {
  }
}
