* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 10rem;
}

::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 0.6rem rgba(0, 0, 0, 0.2);
  background: $primaryColor;
  html.contrast-mode & {
    background: $contrastColor;
  }
}

::selection {
  background-color: $primaryColor;
  color: white;
  html.contrast-mode & {
    background: $contrastBackground;
    color: $contrastColor;
  }
}

body {
  font-family: sans-serif;
  font-size: 1.6rem;
  line-height: 1.618;
  html.contrast-mode & {
    background: $contrastBackground;
    color: $contrastColor;
  }
}

img {
  max-width: 100%;
  height: auto;
}

strong,
b {
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 128rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

/* Text meant only for screen readers. */
.screen-reader-text,
.sr-only {
  border: 0;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  clip-path: inset(50%);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
  word-wrap: normal !important;
}

.screen-reader-text:focus,
.sr-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1rem;
  height: auto;
  left: 0.5rem;
  line-height: normal;
  padding: 1.5rem 2.3rem 1.4rem;
  text-decoration: none;
  top: 0.5rem;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

.page-sections-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  @include small {
    display: block;
  }
}
