$primaryColor: #0000be;
$primaryHoverColor: darken($primaryColor, 15%);

$secondaryColor: navy;
$secondaryHoverColor: lighten($secondaryColor, 15%);

// Contrast
$contrastBackground: black;
$contrastColor: yellow;

// Index's
$cookieBarIndex: 220;
$fixedMenuIndex: 210;
$closeMenuIndex: 200;
$headerInformationsIndex: 190;
$menuIndex: 180;
$subMenuIndex: 170;
$searchFormIndex: 160;
$languagesIndex: 150;
$bodyOverlayIndex: 140;
$weatherIndex: 130;
$headerIndex: 120;
$warningsClose: 110;
