html.contrast-mode table.row-hover tr:hover td {
  background-color: $contrastBackground !important;
} 

.tablepress-table-name, .tablepress-table-description {
  margin-bottom: 1rem;
}

.tablepress {
  @media screen and (max-width: 800px){
    display: block;
    max-width: fit-content;
    margin: 0 auto;
    overflow-x: auto;
    white-space: nowrap;
  }     

  .row-hover {
    tr {
      .column-1 {
        width: 10%;
      }

      .column-2 {
        width: 50%;
      }

      .column-3, .column-4 {
        width: 20%;
      }
    }
  }

  .contrast-mode & {
    .row-1 {
      background-color: $contrastColor;
      color: $contrastBackground;
    }

    th {
      background-color: unset;
    }      

    .row-hover { 
      a {
        color: $contrastColor;
      }

      .even {
        background-color: lighten($contrastBackground, 10%);
        color: $contrastColor;          
      }

      .odd {
        background-color: $contrastBackground;
        color: $contrastColor;
      }

      .even:hover td, .odd:hover td {
        background-color: unset !important;
      }

      td, td:hover {
        background-color: unset !important;
      }        
    }
  }
}

.tablepress-id-17 {
  .column-1, .column-2, .column-3, .column-4 {
    width: 25% !important;
  }
}