// FontSize
html.fontsize-82-5 {
  font-size: 82.5%;
}
html.fontsize-77-5 {
  font-size: 77.5%;
}
html.fontsize-72-5 {
  font-size: 72.5%;
}
html.fontsize-67-5 {
  font-size: 67.5%;
}
html.fontsize-62-5 {
  font-size: 62.5%;
}
html.fontsize-57-5 {
  font-size: 57.5%;
}
html.fontsize-52-5 {
  font-size: 52.5%;
}
html.fontsize-47-5 {
  font-size: 47.5%;
}
html.fontsize-42-5 {
  font-size: 42.5%;
}

html.wcagfocus a:focus,
html.wcagfocus input[type="text"]:focus,
html.wcagfocus input[type="search"]:focus,
html.wcagfocus input[type="submit"]:focus,
html.wcagfocus textarea:focus,
html.wcagfocus .pe-panels.tabs .pn-list li a:focus,
html.wcagfocus *:focus {
  outline: 0.2rem dashed red;
}

.sputnik-search-form--hidden {
  display: block !important;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.sputnik-search-form--active {
  display: block !important;
  opacity: 1;
  max-height: fit-content;
  pointer-events: all;
}

a {
  .contrast-mode & {
    color: $contrastColor;
  }
}

.module-messages__animtoggle {
  .contrast-mode & {
    background-color: $contrastColor;
    color: $contrastBackground;
  }
}

p::selection {
  .contrast-mode & {
    background-color: $contrastBackground;
  }
}

.mytooltip:hover:after{  
  background: #fff;  
  bottom: 1.5rem;
  color: #000;
  content: attr(title);
  right: 20%;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  font-size: 1.5rem;

  .contrast-mode & {
    background-color: $contrastBackground;
    color: $contrastColor;
    border: 3px solid #ff0;
  }
}
.mytooltip:hover:before{
    // border: solid;
    // border-color: #333 transparent;
    // border-width: 6px 6px 0 6px;
    // bottom: 20px;
    // content: "";
    // right: 50%;
    // position: absolute;
    // z-index: 99;
}

.mytooltip {  
  background-color: #fff;
  color: #000;
  padding: 5px 20px; 
  text-align: center;   
  // box-shadow: 0px 8px 10px gray, 
  //       -10px 8px 15px gray, 10px 8px 15px gray;
  border: 3px solid #000;

  .contrast-mode & {
    background-color: $contrastBackground;
    color: $contrastColor;
    border: 2px solid #ff0;
  }
}