// FontSize
html.fontsize-72-5 {
  font-size: 72.5%;
}
html.fontsize-67-5 {
  font-size: 67.5%;
}
html.fontsize-62-5 {
  font-size: 62.5%;
}
html.fontsize-57-5 {
  font-size: 57.5%;
}
html.fontsize-52-5 {
  font-size: 52.5%;
}

html.wcagfocus a:focus,
html.wcagfocus input[type="text"]:focus,
html.wcagfocus input[type="search"]:focus,
html.wcagfocus input[type="submit"]:focus,
html.wcagfocus textarea:focus,
html.wcagfocus .pe-panels.tabs .pn-list li a:focus,
html.wcagfocus *:focus {
  outline: 0.2rem dashed red;
}

.sputnik-search-form--hidden {
  display: block !important;
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.sputnik-search-form--active {
  display: block !important;
  opacity: 1;
  max-height: fit-content;
  pointer-events: all;
}
