.events {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    gap: 2rem 2rem;

    @media screen and (max-width: 768px) {
      display: block;
    }

    #js-calendar {
      min-width: 35rem;
    }

    .posts-loop {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 1.5rem 1.5rem;
      align-items: start;

      @media screen and (max-width: 1140px) {
        display: block;
      }

      article {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 0 1.5rem;
        min-height: 20rem;
        box-shadow: 0px 0.3rem 0.7rem 0px rgba(40, 40, 40, 0.1);
        &.horizontal-post {
          grid-template-columns: 1fr;
          .post-bulk {
            padding: 1rem;
            padding-top: 0;
          }
          img {
            width: 100%;
          }
        }
        &.vertical-post {
          .post-bulk {
            padding-right: 1rem;
          }
          img {
            height: 100%;
            width: 100%;
          }
        }

        .post-heading {
          grid-column: 2;
          grid-row: 1;
          font-size: 1.2rem;

          &__title {
            font-size: 1.4rem;
            margin-bottom: 1rem;

            a {
              color: #000;
              text-transform: uppercase;
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          &-meta {
            margin: 1rem 0;
            .post-date {
              font-size: 1.2rem;
              svg {
                color: $secondaryColor;
              }
            }
            .post-localization {
              font-size: 1.2rem;
              svg {
                color: $secondaryColor;
              }
            }
          }
        }

        .post-content {
          grid-column: 2;
          grid-row: 2;
          margin-bottom: 1rem;

          &__excerpt {
            font-size: 1.2rem;
            line-height: 2rem;
            max-height: 10rem;
            overflow: hidden;
          }
        }

        .post-footer {
          grid-column: 2;
          grid-row: 3;
          display: flex;
          justify-content: flex-end;

          &__button {
            padding: 0.3rem 2rem;
            background-color: $secondaryColor;
            color: #000;
            text-decoration: none;
            transition: all 0.3s;
            font-size: 1.2rem;
            font-weight: 700;
            margin-right: 1rem;
            html.contrast-mode & {
              background: $contrastColor;
              color: $contrastBackground;
            }
          }
        }
      }
    }
  }
}

.events-archive {
  &__content {
    @include extra-large {
      margin-bottom: 5rem;
    }
  }
  .entry-title {
    margin-bottom: 3rem;
  }
  #js-calendar {
    max-width: 100%;
    margin-bottom: 3rem;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 40rem;
    gap: 3rem;
    @include extra-large {
      display: block;
    }
  }
  .events__wrapper {
    display: block;
    .posts-loop {
      display: block;
      margin-bottom: 5rem;
      article {
        margin-bottom: 2rem;
        grid-template-columns: 20rem 1fr;
      }
    }
  }
}

.events__wrapper__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 3rem;
}

.archive-calendar-results {
  .fc-daygrid-day-events {
    display: block !important;
  }
  .fc-daygrid-event-harness {
    margin-bottom: 2rem;
  }
}
