.pages-loop {
  margin: 5rem 0;
  &:not(.swiper-container) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    .page {
      //max-width: 25rem;
    }
  }
  &--background {
    padding: 5rem 0;
    position: relative;
    z-index: 0;
    &::before {
      display: block;
      content: "";
      width: 100vw;
      height: 100%;
      margin-left: -50vw;
      position: absolute;
      top: 0;
      left: 50%;
      background: #f8f9fb;
      z-index: -1;
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 5.5rem;
    height: 5.5rem;
    background: $secondaryColor;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    @include medium {
      display: none !important;
    }
    &::after {
      color: black;
      font-size: 1.4rem;
      font-weight: bold;
    }
  }

  .page {
    .post-thumbnail-wrapper {
      border: 0.1rem solid darken(#ededed, 10%);
      & > a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 100%;
        height: 100%;
        img {
          position: static;
          transform: none;
          min-height: unset;
          min-width: unset;
          object-fit: unset;
        }
      }
      html.contrast-mode & {
        border-color: $contrastColor;
      }
    }
    .wp-post-image {
      width: 100%;
    }
    .post-heading {
      margin: 1rem 0;
      &__title {
        font-size: 1.6rem;
        color: #0a3255;
        html.contrast-mode & {
          color: $contrastColor;
        }
        a {
          color: #0a3255;
          text-decoration: none;
          html.contrast-mode & {
            color: $contrastColor;
          }
          html.contrast-mode & {
            color: $contrastColor;
          }
          &:hover,
          &:focus {
            text-decoration: underline;
          }
        }
      }
    }
  }
}
