.act-locally {
  .posts-loop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
    margin-top: 4rem;
    .dzialaj-lokalnie {
      position: relative;
      max-width: 29rem;
      @include small {
        max-width: 100%;
      }
      &:hover,
      &:focus {
        .post-heading {
          opacity: 1;
        }
      }
      .wp-post-image {
        width: 100%;
      }
      .post-heading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 2rem;
        background: white;
        z-index: 1;
        opacity: 0;
        transition: all 200ms ease-in-out;
        width: 80%;
        &__title {
          font-size: 1.4rem;
          text-transform: uppercase;
          a {
            text-decoration: none;
            color: black;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.archive-posts {
  article {
    &.dzialaj-lokalnie {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 0 1.5rem;
      min-height: 20rem;
      box-shadow: 0px 0.3rem 0.7rem 0px rgba(40, 40, 40, 0.1);
      margin-bottom: 3rem;

      img {
        grid-column: 1;
        grid-row-start: 1;
        grid-row-end: 3;
      }

      .post-heading {
        grid-column: 2;
        grid-row: 1;
        font-size: 1.2rem;

        &__title {
          font-size: 1.4rem;
          margin-bottom: 1rem;

          a {
            color: #000;
            text-transform: uppercase;
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        &-meta {
          margin: 1rem 0;
          .post-date {
            svg {
              color: $secondaryColor;
            }
          }
        }
      }

      .post-content {
        grid-column: 2;
        grid-row: 2;
        margin-bottom: 1rem;

        &__excerpt {
          font-size: 1.2rem;
          line-height: 2rem;
          max-height: 10rem;
          overflow: hidden;
        }
      }

      .post-footer {
        grid-column: 2;
        grid-row: 3;
        display: flex;
        justify-content: flex-end;

        &__button {
          padding: 0.3rem 2rem;
          background-color: $secondaryColor;
          color: #000;
          text-decoration: none;
          transition: all 0.3s;
          font-size: 1.2rem;
          font-weight: 700;
          margin-right: 1rem;
        }
      }
    }
  }
}
