.news {
  .posts-loop {
    &__wrapper {
      &:nth-child(1) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
        article {
          grid-template-columns: 1fr;
          height: auto;
          .post-bulk {
            padding: 1.5rem;
          }
        }
      }
      &:nth-child(2) {
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
      }
    }
  }
}

body.page-template-template-aktualnosci-kontakt {
  .news-contact-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .contact-informations__row:last-child {
      display: none;
    }
  }
  .news {
    margin: 0;
    .posts-loop {
      grid-template-columns: repeat(3, 1fr);
      article {
        grid-template-columns: 1fr;
        height: auto;
        .post-bulk {
          padding: 1.5rem;
        }
      }
    }
  }
}

form#filter {
  margin-top: 1.5rem;
  select {
    background: white;
    padding: 1rem 2rem;
    border: 0.1rem solid rgba(black, 0.2);
    border-radius: 0.3rem;
    html.contrast-mode & {
      background: $contrastColor;
      border-color: $contrastColor;
    }
  }
  button {
    @extend .btn;
    // @extend .btn--primary;
    background-color: $primaryColor;
    color: #fff;
    padding: 1.2rem 2rem;
    border-radius: 0.3rem;
    html.contrast-mode & {
      background: $contrastColor;
      color: $contrastBackground;
    }
  }
}
