body {
  font-family: "Open Sans", sans-serif !important;
}
/* Text meant only for screen readers. */
.screen-reader-text,
.sr-only {
  border: 0;
  clip: rect(0.1rem, 0.1rem, 0.1rem, 0.1rem);
  clip-path: inset(50%);
  height: 0.1rem;
  margin: -0.1rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1rem;
  word-wrap: normal !important;
}

.screen-reader-text:focus,
.sr-only:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1rem;
  height: auto;
  left: 0.5rem;
  line-height: normal;
  padding: 1.5rem 2.3rem 1.4rem;
  text-decoration: none;
  top: 0.5rem;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}

#page-wrapper {
  overflow: hidden;
}

.page-section {
  margin: 4rem 0;
  &-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5rem;
    &__title {
      font-size: 2.4rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__terms {
      display: flex;
      align-items: center;
      & > span {
        display: inline-block;
        font-size: 1.4rem;
        margin-right: 1rem;
      }
    }
    &__anchor {
      display: block;
      text-align: right;
      color: black;
    }
  }
}

.custom-terms {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__anchor {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
    &.active {
      background: $primaryColor;
      color: white;
    }
  }
}

.blocks-gallery-grid .blocks-gallery-image figcaption,
.blocks-gallery-grid .blocks-gallery-item figcaption,
.wp-block-gallery .blocks-gallery-image figcaption,
.wp-block-gallery .blocks-gallery-item figcaption {
  pointer-events: none;
}
