$primaryColor: dodgerblue;
$primaryHoverColor: darken(dodgerblue, 15%);

$secondaryColor: navy;
$secondaryHoverColor: lighten(navy, 15%);

// Contrast
$contrastBackground: black;
$contrastColor: yellow;

// Index's
$closeMenuIndex: 200;
$headerInformationsIndex: 190;
$menuIndex: 180;
$subMenuIndex: 170;
$searchFormIndex: 160;
$languagesIndex: 150;
$bodyOverlayIndex: 140;
$weatherIndex: 130;
$headerIndex: 120;
$warningsClose: 110;
