body:not(.home) {
  .map {
    margin-top: 4rem;
    .google-map-container {
      &__map {
        height: 36rem !important;
      }
    }
  }
  .acf-map {
    height: 36rem !important;
  }
}

.acf-map {
  height: 21rem;
}

.google-map-image {
  display: block;
  height: 21rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  &__image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
  }
}
