.links-under-slider {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  &__anchor {
    display: block;
    text-align: center;
    flex-grow: 1;
    padding: 1.5rem;
    font-weight: 600;
    font-size: 1.6rem;
    background: $secondaryColor;
    color: black;
    text-decoration: none;
    border-bottom: 0.2rem solid transparent;
    html.contrast-mode & {
      background: $contrastColor;
      color: $contrastBackground;
      border: 0.2rem solid $contrastBackground;
    }
    &:hover,
    &:focus {
      border-bottom: 0.2rem solid black;
      html.contrast-mode & {
        border-color: $contrastBackground;
      }
    }
    i,
    svg {
      margin-left: 12%;
    }
    &:nth-child(even) {
      background: #ededed;
      html.contrast-mode & {
        background: $contrastColor;
        color: $contrastBackground;
      }
    }
  }
}
