.contact-form {
  padding: 3rem;
  padding-bottom: 6rem;
  background: #f7f6fb;
  position: relative;
  margin-bottom: 6rem;
  html.contrast-mode & {
    background: $contrastBackground;
  }
  &__title {
    text-transform: none;
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  &__row {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    margin-bottom: 1.5rem;
    &--2-col {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &__wrap {
    width: 100%;
  }
  &__label,
  label {
    display: block;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #282728;
    html.contrast-mode & {
      color: $contrastColor;
    }
  }
  &__input,
  input,
  textarea {
    font-size: 1.6rem;
    font-family: "Open sans", sans-serif;
    color: black;
    padding: 1rem 1.5rem;
    background: white;
    border: 0.1rem solid #b6b6b6;
    width: 100%;
    html.contrast-mode & {
      border-color: $contrastBackground;
      color: $contrastBackground;
      background: $contrastColor;
    }
    &--textarea {
      height: 13rem;
    }
  }
  textarea {
    height: 13rem;
  }
  &__submit,
  input[type="submit"] {
    position: absolute;
    right: 3rem;
    bottom: 3rem;
    background: $primaryColor;
    color: white;
    border: 0;
    padding: 1rem 1.5rem;
    cursor: pointer;
    max-width: 20rem;
    html.contrast-mode & {
      background: $contrastColor;
      color: $contrastBackground;
    }
  }
}
