.contact-informations {
  background: $secondaryColor;
  color: black;
  padding: 3rem;
  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4rem;
  }
  &__row {
    margin-bottom: 3rem;
  }
  &__subtitle {
    text-transform: uppercase;
  }
  &__data {
    font-size: 1.4rem;
    margin: 0.5rem 0;
    a {
      text-decoration: none;
      color: black;
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
