.most-searched {
  background: $primaryColor;
  color: white;
  padding: 3rem;
  html.contrast-mode & {
    background: $contrastColor;
    color: $contrastBackground;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 4rem;
    html.contrast-mode & {
      color: $contrastBackground;
    }
  }
  &-list {
    &__item {
      margin-bottom: 3rem;
    }
    &__anchor {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.6rem;
      margin-left: 3rem;
      html.contrast-mode & {
        color: $contrastBackground;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
