.site-header__bottom {
  position: relative;

  .menu-item-has-children {
    > a {
      position: relative;
      &:after {
        display: inline-block;
        content: "";
        border-left: 0.5rem solid transparent;
        border-top: 1rem solid black;
        border-right: 0.5rem solid transparent;
        transition: all 200ms ease-in-out;
        margin-left: 0.6rem;
        html.contrast-mode & {
          border-top: 1rem solid $contrastColor;
        }
      }
    }

    &.focus {
      > a {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  .menu {
    &-item {
      &-has-children {
        // &:hover,

        & > .sub-menu {
          display: none;
          background: white;
          position: absolute;
          top: 100%;
          left: 0;
          right: 0;
          transform: none;
          width: 100%;
          z-index: $subMenuIndex;
          border-top: 0.1rem solid rgba(black, 0.05);
          &.focus,
          &:focus {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
          }

          html.contrast-mode & {
            background: $contrastBackground;
          }

          li {
            border: 0;
            padding: 0;
            margin: 0;
            border-right: 0.1rem solid rgba(black, 0.05);
            &:nth-child(4) {
              border-right: 0;
            }
            & > .sub-menu {
              display: block;
              position: static;
              transform: none;
              border-top: 0;
              li {
                margin-left: 1rem;
                border-right: 0;
                a {
                  font-size: 1.2rem;
                }
              }
            }
            a {
              display: block;
              font-size: 1.4rem;
              padding: 1rem;
              text-align: left;
              &:hover,
              &:focus {
                background: rgba(black, 0.05);
              }
              &::after {
                content: none;
              }
              &:hover,
              &:focus {
                color: $primaryColor;

                html.contrast-mode & {
                  color: $contrastColor;
                }
              }
              @include extra-large {
                padding: 0.75rem 1.25rem;
              }
            }
          }
        }
      }
    }
  }
}

.sub-menu {
  margin-left: 0 !important;
}
