.button {
  &.basic-vote-button {
    background: #d40000 !important;
  }
}

.basic-question-title {
  margin-bottom: 1rem;
}

.basic-answers {
  display: flex;
  flex-direction: column;

  .basic-answer {
    width: 100%;
    margin: 0;
  }
}
