.hero-and-links {
  position: relative;
}

.hero {
  height: 50rem;
  position: relative;
  & .swiper-container,
  .swiper-wrapper,
  .swiper-slide {
    height: 100%;
  }
  &-slide {
    overflow: hidden;
    position: relative;
    a {
      text-decoration: none;
      color: white;
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      html.contrast-mode & {
        filter: brightness(35%);
      }
    }
    &__content {
      position: absolute;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      width: 100%;
    }
    &__text {
      font-size: 2rem;
      font-family: "Open sans";
      font-weight: 600;
      text-transform: uppercase;
      color: white;
      text-shadow: -0.4rem 0.4rem 0.4rem rgba(black, 0.7);
      html.contrast-mode & {
        color: $contrastColor;
      }
    }
    &__title {
      font-size: 6rem;
      font-weight: 600;
      font-family: "Playfair Display", serif;
      color: white;
      text-shadow: -0.6rem 0.6rem 0.6rem rgba(black, 0.7);
      html.contrast-mode & {
        color: $contrastColor;
      }
    }
    &__herb {
      position: absolute;
      top: 3rem;
      left: 6rem;
      z-index: 1;
      @include extra-large {
        top: 1.5rem;
        left: 1.5rem;
      }
    }
    #searchform {
      width: 100%;
      max-width: 70rem;
      height: 5rem;
      position: relative;
      margin: 2rem auto;
      .search-field {
        width: 100%;
        height: 100%;
        background: white;
        border: 0;
        border-radius: 1.5rem;
        padding: 1.5rem;
        color: black;
        font-family: "Open sans", sans-serif;
        font-size: 1.6rem;
        html.contrast-mode & {
          background: $contrastColor;
          color: $contrastBackground;
        }
        &::placeholder {
          color: rgba(black, 0.7);
          html.contrast-mode & {
            color: $contrastBackground;
          }
        }
      }
      input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background: $secondaryColor;
        color: black;
        border-radius: 1.5rem;
        border: 0;
        padding: 0.5rem 2.5rem;
        font-weight: 600;
        font-size: 1.6rem;
        cursor: pointer;
        html.contrast-mode & {
          background: $contrastBackground;
          color: $contrastColor;
        }
      }
    }
  }

  .swiper-button-prev,
  .swiper-button-next {
    width: 5.5rem;
    height: 5.5rem;
    background: white;
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    html.contrast-mode & {
      background: $contrastBackground;
      color: $contrastColor;
    }
    @include medium {
      display: none !important;
    }
    &::after {
      color: black;
      font-size: 1.4rem;
      font-weight: bold;
      html.contrast-mode & {
        color: $contrastColor;
      }
    }
  }

  .swiper-pagination {
    bottom: 15rem !important;
    &-bullet {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 2rem;
      height: 2rem;
      background: transparent;
      border: 0.2rem solid white;
      position: relative;
      opacity: 1;
      html.contrast-mode & {
        border-color: $contrastColor;
      }
      &-active {
        background: white;
        html.contrast-mode & {
          background: $contrastColor;
        }
      }
      &::after {
        display: block;
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        border-radius: 100%;
        border: 0.2rem solid white;
        html.contrast-mode & {
          border-color: $contrastColor;
        }
      }
    }
  }
}
